# Logs
logs/
*.log
npm-debug.log*

# Dependency folders
node_modules/
frontend/node_modules/

# Build output
frontend/dist/
dist-ssr/

# Env
.env
*.env

# Vite cache
frontend/.vite/
*.local

# IDEs & Editors
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Others
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
